.tag-item{
    background-color: rgb(247, 116, 116);
    display: inline-block;
    padding: .5em .75em;
    border-radius: 20px;
    color:rgb(255, 245, 245);
    font-weight: bold;
}

.tags-item-container{
    border: 2px solid;
    padding: .5em;
    border-radius: 3px;
    width: min(80vw, 600vw);
    margin-top: 1em;
}