.tableAnalyseButton{
    display: inline;
    width: 50%;
    text-align: right;
    align-items: right;
    color: black;
}

.AnalyseButtuons{
    display: inline;
}

nav{
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-title{
    color: black;
    background-color: blue;
}

body{
    background-color: greenyellow;
}